body {
    background-image: url('./imagens/backgound1.jpg');
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #1ac025;
    color: white;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.logo {
    height: 50px;
}

.contato {
    font-size: 16px;
    font-weight: bold;
}

.container{
    display: flex;
    height: 100vh;
    
}

.section1 {
    flex: 2;
    color: white;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.section1-content h1{
 font-size: 100px;
}

.section2 {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 10px; 
}

.section2-content{
    color: black;
}

.section2-content h1{
    color: rgb(21, 201, 69);
    font-size: 30px;
}

.section2-content h3{
    margin-top: 100px;
}

.register-button {
    background-color: #1ac025;
    border-radius: 10px; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    font-size: 30px;
    margin-top: 150px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 15px;
    background-color: #1ac025;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-logos img{
    width: 180px;
    height: auto;
    padding-inline: 50px;
}


.formulario {
    display: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 210px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.formulario input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.botao {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.botao:hover {
    background-color: #1ae360;
}

